@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

.page {
  margin: 150px auto;
  background-color: #e5eeee;
}
form {
  font-family: "Quicksand", sans-serif;
  font-size: 700;
  margin: 52px auto;
  width: 400px;
  background-image: url("/img/bg_form-1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.container {
  width: 262px;
}
